.bmi-range-container {
    display: flex;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    position: relative;
}

.bmi-range-box {
    color: #333;
    font-weight: bold;
    padding: 10px 0;
    flex-grow: 1;
    text-align: center;
    position: relative;
    background-color: #f9f9f9;
}

.bmi-range-box.in-range {
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bmi-arrow {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 120px;
    color: red;
    z-index: 10;
    display: none;
}

.bmi-arrow.visible {
    display: block;
}
