/* Importing font */
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');

body {
    font-family: 'NanumSquareNeo', sans-serif;
}

/* 전체 달력 스타일 */
.react-datepicker {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    width: auto;
    padding: 10px;
}

/* 헤더 스타일 */
.react-datepicker__header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.react-datepicker__current-month {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* 네비게이션 버튼 */
.react-datepicker__navigation {
    top: 15px;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.react-datepicker__navigation--previous {
    left: 10px;
}

.react-datepicker__navigation--next {
    right: 10px;
}

/* 날짜 선택 영역 */
.react-datepicker__month {
    margin: 10px 0;
}

.react-datepicker__day,
.react-datepicker__day-name {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 18px !important;
    font-weight: bold !important;
}

.react-datepicker__day-name:nth-child(1),
.react-datepicker__day-name:nth-child(7) {
    color: rgb(60, 60, 60);
}

.react-datepicker__day-name:nth-child(2),
.react-datepicker__day-name:nth-child(3),
.react-datepicker__day-name:nth-child(4),
.react-datepicker__day-name:nth-child(5),
.react-datepicker__day-name:nth-child(6) {
    font-weight: bold;
    color: black;
}

/* 오늘 날짜 */
.react-datepicker__day--today {
    font-weight: bold;
    border: 2px solid #000000;
    color: #000000;
}

/* 선택된 날짜 */
.react-datepicker__day--selected {
    background-color: #000000 !important;
    color: #ffffff !important;
    font-weight: bold;
}

/* 날짜 hover */
.react-datepicker__day:hover {
    background-color: #a3d7b3;
    color: #ffffff;
}

/* 토요일과 일요일 날짜 텍스트 색상 변경 */
.react-datepicker__day--weekend {
    color: #7d7d7d !important;
}

.react-datepicker__day--weekend.react-datepicker__day--selected {
    color: #ffffff !important; 
    background-color: #000000 !important;  
}

/* 운동 계획 입력 필드 스타일 */
.input-plan {
    width: 30%;
    padding: 10px;
    margin: 10px 10px 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
}

/* 운동 계획 추가 버튼 스타일 */
.add-button {
    width: 10%;
    aspect-ratio: 3 / 1; 
    padding: 4px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    min-width: 60px; 
    min-height: 40px; 
}

/* Notification box */
.notification-box {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 16px;
    margin: 20px auto;
    font-size: 14px;
    color: #495057;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: fit-content;
}

.notification-box .icon {
    font-size: 18px;
}

.notification-box h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #343a40;
}

.notification-box ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: inside;
}

.notification-box li {
    margin: 8px 0;
    line-height: 1.6;
    text-align: left;
}

/* 페이지 제목 스타일 */
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

/* 사용자 정보 텍스트 스타일 */
h3 {
    font-size: 18px; /* 사용자 정보 텍스트 크기 */
}

/* 삭제 버튼 스타일 */
.delete-button {
    margin-left: 20px;
    background-color: #fff;
    color: #FF5A5A;
    border: 1px solid #FF5A5A;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    height: 20px;
    min-width: 20px;
}

.delete-button:hover {
    background-color: #FF5A5A;
    color: #fff;
}

.plan-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 0 auto;
}

.plan-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.plan-item span {
    flex-grow: 1;
    text-align: left;
}

.plan-item.completed {
    text-decoration: line-through;
    color: #888;
}

.react-datepicker__day--outside-month {
    visibility: hidden;
}

.react-datepicker__day-name:nth-child(2),
.react-datepicker__day-name:nth-child(3),
.react-datepicker__day-name:nth-child(4),
.react-datepicker__day-name:nth-child(5),
.react-datepicker__day-name:nth-child(6) {
    font-weight: bold;
    color: black;
}

.react-datepicker__day--weekend {
    font-weight: normal;
    color: rgb(255, 255, 255);
}
