/* .button-group: 운동기구 선택 버튼 그룹 */
.button-group {
    display: flex;
    flex-wrap: wrap; /* 버튼들을 여러 줄로 감싸기 */
    gap: 10px;
    margin-top: 20px;
}

/* .nav-button: 운동기구 선택 버튼 */
.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: calc(50% - 10px); /* 각 버튼 너비를 50%로 설정하여 두 개씩 배치 */
}

/* .nav-button:hover: 버튼에 마우스 올렸을 때 */
.nav-button:hover {
    background-color: #f0f0f0;
}


/* 화면 크기가 600px 이하일 때 */
@media (max-width: 600px) {
    .title {
        font-size: 24px;
    }

    .detail-box {
        padding: 15px;
        max-width: 90%;
    }

    .detail-box h3 {
        font-size: 22px;
    }

    .detail-box p {
        font-size: 14px;
    }

    .detail-box h4 {
        font-size: 16px;
    }

    .exercise-method-description,
    .warning-description {
        font-size: 14px;
    }

    .button-group {
        flex-direction: row; /* 버튼을 두 줄로 배치 */
        gap: 15px;
    }

    .nav-button {
        width: calc(50% - 10px); /* 버튼을 두 줄로 배치 */
    }

    .video-thumbnail {
        width: 100px;
    }
}

/* 화면 크기가 480px 이하일 때 */
@media (max-width: 480px) {
    .title {
        font-size: 20px;
    }

    .detail-box {
        padding: 10px;
        max-width: 95%;
    }

    .detail-box h3 {
        font-size: 20px;
    }

    .detail-box p {
        font-size: 13px;
    }

    .detail-box h4 {
        font-size: 14px;
    }

    .exercise-method-description,
    .warning-description {
        font-size: 12px;
    }

    .button-group {
        flex-direction: row; /* 버튼을 두 줄로 배치 */
        gap: 10px;
    }

    .nav-button {
        width: calc(50% - 10px); /* 버튼을 두 줄로 배치 */
    }

    .video-thumbnail {
        width: 80px;
    }
}
